
html, body {
  margin:0;
  padding:0;
  height:100%;
}
img {
  display: inline-block;
  border-radius: 12px;
  border-color: #bc1e1b;
  width: 100%;
  max-width: 18em;
}
h2 {
  color: black;
  font-family: 'Oswald',sans-serif;
}
.title {
  text-align: center;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
.title span {
  display: block;
  font-size: .34em;
  color: #aaaaaa;
  font-family: 'garamond';
}
.top-nav {
  width: 100%;
}
.top-nav a {
  display: inline-block;
  width: 23%;
  color:black;
  text-decoration: none;
  list-style-type: none;
  border-radius: .34em;
  border: solid white medium;
  border-width: .13em;
  text-align:  center;
  transition: 0.5s all ease;
  padding-top: 0;
  margin-top: 0;
}
.top-nav a:hover {
  color: #888;
  border-color:#888;
}
.top-nav li {
  font-family: 'Exo', sans-serif;
}
.blog-content h1 {
  color: #006570;
  font-family: 'Oswald', sans-serif;
}
.blog-content h4 {
  font-family: 'baskerville';
}
p {
  font-family: 'baskerville';
}
.blog-content {
  margin-left: 3em;
}
.blog-content a {
  text-decoration: none;
  color: #BC1E1B;
}
.horizontal-line {
  height: 1px;
  border-top: 1px solid #AAA;
  margin: 1em 0;
  padding: 0;
  width: 80%;
  margin-left: 10%;
}

h1 {
  text-align: left;
}
.footer-icons  a{
  display: inline-block;
  margin-left: 15%;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  color:black;
  transform: scale(1);
  transition: 0.3s all ease;

}
.footer-icons a:hover {
  transform: scale(1);
  color: #006570 ;
}
footer p {
  text-align: center;
}
.footer-icons {
  text-decoration: none;
}
.arc-content {
  padding: 10px;
  padding-bottom: 100px;
  margin-left: 4em;

}
.arc-content a {
  text-decoration: none;
}
.arc-content h1:hover {
  color:#0297AF;
}
.arc-content h4{
  display: inline-block;
  font-family: 'baskerville';
  color: #888;
}
.arc-content h1 {
  display: inline-block;
  color: #006570;
  font-family: 'Oswald', sans-serif;
  margin-left: 1em;
}
.arc-content p {
  color: #888;
}
.pagination {
  height: 1px;
  border-top: 1px dashed #AAA;
  margin: 1em 0;
  padding: 0;
  width: 80%;
  margin-left: 10%;
}
#total-wrapper {
  min-height: 100%;
  position:relative;
}
#header {
  padding: 10px;
  height:80%;
}
#footer {
  width: 100%;
  height: 80px;
  position:absolute;
  bottom:0;
  left:0;
  /*text-align: center;*/
}
#footer p {
  text-align: center;
}
