@font-face {
  font-family: 'Inc';
  src: url(../fonts/Inconsolata-g.ttf);
}

#blog-header h1 {
  font-size: 200%;
}

#blog-header h2 {
  font-size: 90%;
}

#blog-header h4 {
  font-size: 100%;
}

pre code{
  font-family: 'Inc';
  border: 1px solid rgba(100, 100, 100, 0.5);
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
}



/*
body {
  padding-bottom: 10%;
}

#contain #left header a h1 {
  font-family: 'Quicksand', sans-serif;
  color: rgba(34, 78, 60, 0.9);
}

#main *  {
  font-family: 'Cutive Mono', monospace;
}

.blog-header {
  width: 55%;
  margin: auto;
  text-align: center;
  line-height: ;
}

.blog-header h2 {
  font-size: 0.9em;
}

.blog-header h4 {
  font-style: italic;
}

.blog-post {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  margin: auto;
  text-align: justify;
  font-size: 1.3em;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2));
  border-radius: 30px;
}

.blog-post p:first-child:first-letter {
  float: left;
  font-size: 4.7em;
  padding-top: -1px;
  padding-right: 10px;
  margin-top: -20px;
  margin-bottom: -40px;
}

#edit {
  font-style: italic;
}

.ruby {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1px;
  padding: 5px;
  color: rgba(200, 210, 200, 0.9);
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: left;
}

.comment {
  font-style: italic;
  color: rgba(200, 200, 150, 0.8);
}