/* Main CSS */

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(255, 246, 230, 0.5), rgba(40, 45, 65, 0.8)) fixed, url("../imgs/mountains.jpg") fixed center center no-repeat;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

* {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(150, 39, 42, 0.9);
}

a:hover {
  color: black;
}


/* Header */

div.contain {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

div.left, div.right {
  width: 50%;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

header {
  font-size: 0.8em;
  width: 60%;
  color: rgba(34, 78, 60, 0.9);
  display: inline-block;
}

header h1 {
  margin: 0;
}

#github {
  font-size: 0.69em;
  opacity: 0.7;
}

/* Navigation */

#navigation {
  list-style: none;
  padding: 0px;
  width: 20%;
  margin: 0px;
  float: left;
}

#blog {
  list-style: none;
  padding-left: 0.5em;
}

li {
  margin: 0px;
}

#navigation a {
  display: inline;
}

/* Social Media Icon(s) */

#social-media {
  display: inline-block;
  float: right;
  text-align: right;
}

a#social-media:hover {
  opacity: 0.5;
}

/* Footer */

footer {
  font-size: 0.7em;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0px;
  padding-top: 15px;
  clear: both;
}

/* Main section */

section p span {
  font-family: 'Cutive mono', monospace;
  font-size: 2em;
}

.big {
  font-size: 1.4em;
}

#hidden {
  font-size: 1.25em;
}

.break {
  line-height: 50px;
}

#line-1 {
  opacity: 0;
  transition: opacity 2s;
  letter-spacing: -4px;
}

#line-2 {
  font-size: 1.5em;
  color: #050505;
  opacity: 0;
  transition: opacity 3s;
}

#line-1:hover {
  opacity: 1;
  transition: opacity 3.5s;
}

#line-1:hover + #line-2 {
  opacity: 1;
  transition: opacity 7s;
}

section {
  width: 50%;
  text-align: center;
  letter-spacing: -2px;
  margin: auto;
}